/* Ensure the main element covers the full viewport height */
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  color: white;
  height: 100vh;
  box-sizing: border-box;
}

/* Card styling */
.card {
  transform: translateY(-60px);
  display: flex; 
  justify-content: center;
  text-align: center;
  min-height: 50%;
  min-width: 35%;
  border-radius: 5%;
  box-shadow: 0 2px 100px 5px rgb(252 196 126), 0 3px 1px -2px rgb(255 37 37 / 0%), 0px -1px 19px 12px rgba(47, 0, 255, 0.2);
  box-sizing: border-box;
  flex-direction: column;
}

.card-title{
  padding-top: 15px;
  font-size: 1.5em;
}

.card-body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-image: url(https://media.istockphoto.com/id/1226361499/vector/neon-frame-border-white-neon-glowing-background.jpg?s=612x612&w=0&k=20&c=jx9dGt3H6QCS18RwX8mimMPebTvSWjbeyQMYvPIWH7M=);
  background-size: 114% 127%;
  background-position: center;
  border: 5px solid white;
  border-radius: 1%;
}

.card-text{
  padding-left: 30px;
  padding-right: 30px;
}


/* Menu.jsx specific */
.item-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  padding: 0;
  list-style: none;
}

.item-list li{
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 7px;
}

a {
  text-decoration: none;
}


/* FormTemplate.jsx specific */

button{
  margin-top: 10px; 
  padding: 5px;
  background-color: white;
}

input{
  margin: 5px;
}

form{
   margin-top: 20px
}